/*Universal Styles*/

html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Company Header*/

.company {
  background-color: cadetblue;
  color: white;
  }

  .company img {
    height: 1.5rem;
    padding-right: 1rem;
  }
