/*Universal Styles*/

html { /*done*/
  font-size: 18px;
}

body { /*done*/
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container { /*done*/
  max-width: 960px;
  margin: 0 auto;
}

/*Main Banner*/

.banner { /*done*/
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.headline { /*done-ish*/
  position: relative;
  top: 10rem;
  background-color: white;
  padding: 1.5rem 5rem;
  float: right;
}

.headline h1 { /*done-ish*/
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/*Company Header*/

.company .container { /*done*/
  top: 1rem;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  }

.company img { /*done*/
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  li { /*done*/
    display: inline-block;
    padding-right: 2rem;
  }

  .mobile-nav { /*done*/
    display: none;
  }

/*Services & Business Info*/

.services {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.service {
  width: 5rem;
  height: 8rem;
  padding-right: 6rem;
}

.service-image {
  display: inline-block;
  width: 3.5rem;
}

.description {
  display: block;
  text-align: center;
}

.business-info { /*done*/
  display: flex;
  padding-bottom: 5rem;
  justify-content: center;
}

.info span { /*done*/
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  width: 10rem;
}

.info {
  width: 35%;
  margin-top: 3rem;
  padding-right: 5%;
}

.info p { /*done*/
  margin-top: 1rem;
}


/*Footer*/

footer .container { /*done*/
  display: flex;
  align-items: center;
  background-color: azure;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer img { /*done*/
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 4rem;
}

@media only screen and (max-width: 1024px) {
  .company .container {
    top: 0;
  }

  .headline {
    margin-right: 2rem;
    top: 5rem;
    padding: 0.75rem 4rem;
  }

  .headline h1 {
    font-size: 1.33rem;
  }

  .banner {
    height: 22rem;
  }
}

@media only screen and (max-width: 470px) {
  .company .container {
    top: 0;
  }

  .banner {
    background-position: 20%;
    height: 17rem;
  }

  .headline h1 {
    padding: 1rem auto;
    font-size: 1rem;
  }

  .headline {
    width: 100%;

 }

  .mobile-nav {
    display: block;
    text-align: right;
 }

  nav ul {
    display: none;
  }

  .services {
    margin-top: 3.77rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3.77rem;
  }

  .description {
    font-size: 0.77rem;
  }

  .business-info {
    align-items: center;
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
  }

  .info p {
    margin-bottom: 4rem;
    font-size: 0.77rem;
  }

  footer p {
    display: none;
    text-align: center;
  }

}
